<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xwray.groupie.example.core"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xwray.groupie.example.core.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme">
        </activity>
    </application>

</manifest>
